@charset "utf-8";
/* CSS yuyang louis */
html,
body,
ul,
li,
p,
form,
dl,
dt,
dd,
h1,
h2,
h3,
iframe,
input {
  margin: 0;
  padding: 0;
}
body {
  font: 18px/1.5 'Microsoft YaHei', simsun, Arial, Helvetica, sans-serif;
  color: #b6b6b6;
  background: #fff;
}
ul,
li {
  list-style-type: none;
}
img {
  border: 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
html,
body {
  height: 100%;
}
.wrap {
  position: relative;
  height: 100%;
  margin: 0 auto;
}
header {
  height: 13%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-image: url(bg.jpg);
}
.logo {
  position: absolute;
  background-image: url(logo.png);
  top: 5%;
  left: 5%;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  overflow: hidden;
  text-indent: -999em;
}
.output {
  position: relative;
  top: 10%;
  width: 70%;
  margin: 0 auto;
}

.book {
  position: relative;
  top: 10%;
  width: 70%;
  margin: 0 auto;
}
.book img {
  display: block;
  width: 235px;
  height: 325px;
  margin: 0 auto 15%;
  border: #cacaca 1px solid;
}
.book .nr_logo {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto 15%;
}

.book .btn {
  text-align: center;
  font-size: 30px;
  line-height: 3.2;
  color: #fff;
  background-image: url(btn1.png);
  background-repeat: no-repeat;
  background-position: 34px center;
  background-color: #333;
  display: block;
  margin: 0 auto;
  padding-left: 10%;
  border-radius: 6px;
}
.book .btn:focus {
  background-color: #e14b4c;
}
.book .s2 {
  background-image: url(btn2.png);
  padding-left: 50px;
}

.qr {
  position: relative;
  top: 10%;
  width: 70%;
  margin: 0 auto;
}
.qr img {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: #cacaca 1px solid;
}
.qr .warn {
  text-align: center;
  font-size: 30px;
  line-height: 3.2;
  color: #000;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  width: 80%;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 5%;
  text-align: center;
}
.pbg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  filter: alpha(opacity = 90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}

@media screen and (max-width: 639px) {
  .logo {
    width: 100px;
    height: 100px;
  }
  .book {
    /*	width: 200px;
		margin-top: -100px;
		margin-left: -100px;*/
  }
  .book img {
    width: 118px;
    height: 162px;
  }
  .book .btn {
    font-size: 14px;
    background-image: url(btn1_da.png);
  }
  .book .s2 {
    background-image: url(btn2_da.png);
  }
  footer {
    font-size: 14px;
  }
}
